h1 {
    font-size: 1.75em;
}

a[target]:after {
    content: "↗";
    font-size: inherit;
    color: inherit;
}

audio {
    width: 100%;
    height: 1.75em;
}

body {
    font-family: $font-body, system-ui, sans-serif;
    font-size: $font-body-size;
    background: $background;
    background-size: cover;
    color: $text;
    margin: 0;
}

.navigation {
    display: flex;
    gap: 1em;
}

.navbar {
    padding: 1em;
    height: 74px;
    background-color: $background;
}

.site-logo {
    background-image: url($avatar);
    background-size: contain;
    width: 74px;
    height: 74px;
    display: inline-block;
}

.site-info {
    display: inline-block;
    padding-left: 1em;
    position: absolute;
}

.min-size {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    margin: 0.5em auto;
    display: block;
    cursor: pointer;
}

code {
    font-family: $font-monospace, monospace;
    font-size: $font-monospace-size;
    tab-size: 4;
}

.highlight,
.code {
    padding: 0 1em;
    margin: 0;
    overflow-y: hidden;
    transition: max-height 200ms ease-out;
}

.highlight pre {
    background-color: transparent;
    padding-left: 0;
    padding-right: 0;
}

div.highlight {
    background-color: $background;
}

input[type="range"] {
    width: 100%;
}

.main-title {
    text-align: left;
    margin: 0;
    margin-bottom: 0.5em;
}

a, h1, h2, h3, h4, h5, h6 {
    text-shadow: 0.05em 0.05em 0.1em $shadow-color;
}

p {
    text-align: justify;
    line-height: 150%;
}

a {
    color: inherit;
    font-weight: bold;
    text-decoration: none;
    background-image: linear-gradient(0deg, $highlight 0%, $highlight 100%);
    background-position: bottom;
    padding: 0 0.25em;
    background-size: 100% 50%;
    background-repeat: no-repeat;
    transition: background-size 50ms ease-in-out;
    -webkit-box-decoration-break: clone;
}

a:hover {
    background-size: 100% 100%;
}

.date {
    font-family: $font-monospace, monospace;
    font-size: $font-monospace-size;
}

hr {
    border-style: solid;
    border-color: $highlight;
    border-width: 1px 0 0 0;
}

ol, ul {
    padding-left: 1.5em;
}

li {
    margin: 4px;
}

td, th {
    text-align: left;
    padding-right: 2em;
}

.post-center-container {
    max-width: $max-width;
    margin: 0 auto;
}
.page-container {
    max-width: $max-width;
    margin: 1em auto;
}



.carousel-item-title {
    color: inherit;
    font-weight: bold;
    text-decoration: none;
    background-image: linear-gradient(0deg, $highlight 0%, $highlight 100%);
    background-position: bottom;
    padding: 0 0.25em;
    background-size: 100% 50%;
    background-repeat: no-repeat;
    transition: background-size 0.1s ease-in-out;
    -webkit-box-decoration-break: clone;
}
.carousel-item-title:hover {
    background-size: 100% 100%;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    width: 100%;
    overflow: hidden;
}
.carousel-item-container {
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 2em;
    background-color: rgba(0,0,0,0.5);
    backdrop-filter: blur(0.25em);
    opacity: 0;
    border: 1px $highlight solid;
    transition: all 200ms ease-in-out;
}
.carousel-item-container-visible {
    z-index: 5;
    opacity: 1;
}
.card {
    background-position: center;
    background-size: cover;
    padding-bottom: 100%;
    transform-style: preserve-3d;
    transition: all 100ms ease-out;
}
.card-hover-shadow {
    box-shadow: 0 0 10px 0px black;
}
.card-link {
    text-align: center;
    padding: 0;
    margin: 0;
    margin-bottom: 1em;
}
.card-item {
    position: relative;
    overflow: initial;
    transform: scale(1);
    transition: all 50ms ease-in-out;
}
.card-item:hover {
    transform: scale(1.1);
    z-index: 2;
}



/* Handle card size */
@media only screen and (max-width: 595px) {
    .card-item {
        width: 100%;
    }
}

@media only screen and (min-width: 600px) {
    .card-item {
        width: 50%;
    }
}

@media only screen and (min-width: 768px) {
    .card-item {
        width: calc(100% / 3);
    }
}

@media only screen and (min-width: 889px) {
    .card-item {
        width: 25%;
    }
}

@media only screen and (min-width: 1200px) {
    .card-item {
        width: 20%;
    }
}




.reset-link {
    background-image: initial;
    padding: initial;
    transition: initial;
    font-weight: initial;
}


::-webkit-scrollbar {
    width: auto;
    height: auto;
}

::-webkit-scrollbar-track {
    background-color: $background;
}

::-webkit-scrollbar-thumb {
    background-color: $highlight;
}

::-webkit-scrollbar-thumb:hover {
    background-color: $text;
}







.code-div-hidden {
    max-height: 150px;
    cursor: pointer;
}

.code-div-hidden::after {
    opacity: 1 !important;
}

div.highlight::after {
    content: "Show more...";
    z-index: 50;
    display: block;
    top: -2em;
    text-align: center;
    position: relative;
    opacity: 0;
    transition: opacity 250ms ease-in-out;
}

.code-div-hidden > pre {
    max-height: calc(150px - 2em);
    overflow: hidden;
}

.code-div-fadeout {
    -webkit-mask-image: linear-gradient(to bottom, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 50%, rgba(0,0,0,0) 100%);
    -webkit-mask-size: 100% 200%;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: 0% 100%;
}

.code-div-shown {
    -webkit-animation: fadeoutFade 500ms forwards ease-out;
}

@keyframes fadeoutFade {
    0% {
        -webkit-mask-position: 0% 100%;
    }
    100% {
        -webkit-mask-position: 0% 0%;
    }
}






#overlay {
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background-color: rgba(0,0,0,0.5);
    display: block;
    z-index: 500;
    backdrop-filter: blur(0.5em);
    opacity: 0;
    transition: opacity 150ms ease-in-out;
}

#overlay-center {
    display: flex;
    height: 100%;
    align-items: center;
}

#overlay-image {
    max-width: initial;
    max-height: initial;
    user-select: none;
}





.image-gallery {
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}